{% load static %}
<!doctype html>
<html lang="zxx">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keywords" content="Seog Responsive web template, Bootstrap Web Templates" />
  <title>DigiVote</title>
  <link
    href="//fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300&display=swap"
    rel="stylesheet">
  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'voterapp/assets/css/style-starter.css' %}">
</head>
<body>
  <!--/header-w3l-->
  <div class="header-w3l">
    <!-- header -->
    <header id="site-header" class="fixed-top">
      <div class="container">
        <nav class="navbar navbar-expand-lg stroke">
          <a class="navbar-brand" href="index.html">
            SE<span class="fab fa-xbox sub-logo"></span>G
          </a>
          <!-- if logo is image enable this   
            <a class="navbar-brand" href="#index.html">
                <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
            </a> -->
          <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
            data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
            <span class="navbar-toggler-icon fa icon-close fa-times"></span>
            </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav ml-lg-auto">
              <li class="nav-item active">
                <a class="nav-link" href="index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.html">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="services.html">Services</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact</a>
              </li>
              <li class="search-bar ml-lg-3 mr-lg-5 mt-lg-0 mt-4">
                <!--/search-right-->
                <form class="search position-relative">
                  <input type="search" class="search__input" name="search" placeholder="Search here.."
                    onload="equalWidth()" required="">
                  <span class="fas fa-search search__icon"></span>
                </form>

                <!--//search-right-->
              </li>

            </ul>

          </div>
          <!-- toggle switch for light and dark theme -->
          <div class="mobile-position">
            <nav class="navigation">
              <div class="theme-switch-wrapper">
                <label class="theme-switch" for="checkbox">
                  <input type="checkbox" id="checkbox">
                  <div class="mode-container">
                    <i class="gg-sun"></i>
                    <i class="gg-moon"></i>
                  </div>
                </label>
              </div>
            </nav>
          </div>
          <!-- //toggle switch for light and dark theme -->
        </nav>
      </div>
    </header>
    <!-- //header -->
  </div>
  <!--//header-w3l-->
  <!--/w3l-banner-content-->
  <div class="w3l-banner-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 bannerhny-info pr-lg-5">
          <h3 class="mb-4">Expect Great Things from <span class="w3sub-color">
              Your SEO </span>Agency.</h3>
          <div class="separatorhny"></div>
          <p class="pr-lg-5 mt-md-4 mt-3">Lorem ipsum dolor sit amet consectetur ipsum elit. Qui eligendi vitae sit.Ea
            ipsum sed consequuntur illum facere.
          </p>
          <a class="btn btn-style mt-sm-5 mt-4 mr-2" href="about.html">
            Read More</a>
        </div>
        <div class="col-lg-6 bannerhny-info-img mt-lg-0 mt-5 pl-lg-5">
          <img src="{% static 'voterapp/assets/images/pic-1.png' %}" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
  <!--//w3l-banner-content-->
  <!--/w3l-content-1-->
  <div class="w3l-content-1 py-5">
    <div class="container py-lg-5 py-md-4 py-2">
      <div class="w3l-content-inf text-center">
        <h6 class="title-subhny mb-2">About Us</h6>
        <h3 class="title-w3l mb-4">Grow Your Business
          with Our <span class="w3sub-color"> SEO</span> Agency </h3>
        <p class="para-sub pr-lg-5 mt-md-4 mt-3 mx-auto">Lorem ipsum dolor sit amet consectetur ipsum elit. Qui eligendi
          vitae sit.Ea
          ipsum sed consequuntur illum facere.Vivamus a ligula quam tesque et libero ut justo, ultrices in. Ut eu leo
          non. Duis sed dolor et amet.
        </p>
        <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2" href="about.html">
          Read More</a>
      </div>
    </div>
  </div>
  <!--//w3l-content-1-->
  <!-- /w3l-content-2-->
  <div class="w3l-content-2 py-5">
    <div class="container py-md-5 py-2">
      <div class="row align-items-center">
        <div class="col-lg-6 whybox-wrap pr-lg-5">
          <div class="title-content text-left">
            <h6 class="title-subhny">Features</h6>
            <h3 class="title-w3l mb-sm-5 mb-4 pb-2">How SEOG Team Can Help</h3>
          </div>
          <div class="whybox-wrap-grid mb-4">
            <div class="icon">
              <span class="fas fa-signal"></span>
            </div>
            <div class="info">
              <h4><a href="#url">Page Rankings</a></h4>
              <p class="mt-3">Lorem ipsum dolor sit amet consectetur ipsum elit. Lorem ipsum dolor sit amet elit. </p>
            </div>
          </div>
          <div class="whybox-wrap-grid mb-4">
            <div class="icon">
              <span class="fas fa-cubes icon-red"></span>
            </div>
            <div class="info">
              <h4><a href="#url">Site Optimisation</a></h4>
              <p class="mt-3">Lorem ipsum dolor sit amet consectetur ipsum elit. Lorem ipsum dolor sit amet elit. </p>
            </div>
          </div>
          <div class="whybox-wrap-grid mb-4">
            <div class="icon">
              <span class="fas fa-users icon-yellow"></span>
            </div>
            <div class="info">
              <h4><a href="#url">User Retention</a></h4>
              <p class="mt-3">Lorem ipsum dolor sit amet consectetur ipsum elit. Lorem ipsum dolor sit amet elit. </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 whybox-wrap-img mt-lg-0 mt-5 pl-lg-5">
          <div class="w3l-img-hr position-relative">
            <img src="{% static 'voterapp/assets/images/pic-4.png' %}" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- //w3l-content-2-->
  <!-- /bottom-grids-->
  <section class="w3l-bottom-grids-6 py-5" id="services">
    <div class="container py-lg-5 py-md-4 py-2">
      <div class="title-content text-center">
        <h6 class="title-subhny text-center">Reasons Why</h6>
        <h3 class="title-w3l mb-sm-5 mb-4 pb-sm-o pb-2 text-center">Our Valuable Reputation<br> Analysis</h3>
      </div>
      <div class="grids-area-hny text-center row mt-lg-4">
        <div class="col-lg-4 col-md-6 grids-feature">
          <div class="area-box icon">
            <span class="fas fa-laptop icon-red"></span>
            <h4><a href="#feature" class="title-head">Website Content</a></h4>
            <p>Vivamus a ligula quam tesque et libero ut justo, ultrices in. Ut eu leo non. Duis sed et dolor
              amet.</p>

          </div>
        </div>
        <div class="col-lg-4 col-md-6 grids-feature mt-md-0 mt-4">
          <div class="area-box icon">
            <span class="fas fa-rocket icon-blue"></span>
            <h4><a href="#feature" class="title-head">Visitor Tracking</a></h4>
            <p>Vivamus a ligula quam tesque et libero ut justo, ultrices in. Ut eu leo non. Duis sed dolor et
              amet.</p>

          </div>
        </div>
        <div class="col-lg-4 col-md-6 grids-feature mt-lg-0 mt-4">
          <div class="area-box icon">
            <span class="fas fa-chart-pie icon-yellow"></span>
            <h4><a href="#feature" class="title-head">Result Analysis</a></h4>
            <p>Vivamus a ligula quam tesque et libero ut justo, ultrices in. Ut eu leo non. Duis sed dolor et
              amet.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- //bottom-grids-->
  <!--/Content-mid-->
  <section class="w3l-content-mid py-5">
    <div class="container py-sm-4 py-2">
      <div class="row">
        <div class="col-lg-8">
          <div class="bottom-info">
            <div class="header-section">
              <h6 class="title-subhny mb-2">We’re Best In</h6>
              <h3 class="title-w3l">Better website means better user experience</h3>
            </div>
          </div>
        </div>
        <div class="col-lg-4 align-self text-lg-right">
          <a href="#get" class="btn btn-style btn-primary mt-lg-0 mt-md-5 mt-4">Find Out More </a>
        </div>
      </div>
    </div>
  </section>
  <!--//Content-mid-->
  <!-- testimonials section -->
  <section class="w3l-clients w3l-test pb-5" id="testimonials">
    <div class="midd-w3 py-5">
      <div class="container py-lg-5 py-md-4 pt-2 pb-lg-5">
        <div class="title-content text-center">
          <h6 class="title-subhny text-center">Happy Clients</h6>
          <h3 class="title-w3l mb-sm-5 mb-4 pb-sm-o pb-2 text-center">What Our Clients Say</h3>
        </div>
        <div class="row mt-4 py-md-2 mb-md-4">
          <div class="col-lg-6 item">
            <div class="testimonial-content">
              <div class="testimonial">
                <blockquote>
                 <i class="fas fa-quote-right"></i> Pellen tesque libero ut justo
                </blockquote>
                <p>Lorem ipsum dolor sit amet elit. hic odio tenetur. ante ipsum primis in
                  faucibus orci luctus.Vivamus a ligula quam tesque et libero ut justo, ultrices in. </p>
              </div>
              <div class="bottom-info mt-4">
                <a class="comment-img" href="#url"><img src="{% static 'voterapp/assets/images/team1.jpg' %}" class="img-responsive"
                    alt="placeholder image"></a>
                <div class="people-info align-self">
                  <h3>Johnson william</h3>
                  <p class="identity">Example City</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 item mt-lg-0 mt-5">
            <div class="testimonial-content">
              <div class="testimonial">
                <blockquote>
                  <i class="fas fa-quote-right"></i> Lorem ipsum dolor sit amet
                 </blockquote>
                <p>Lorem ipsum dolor sit amet elit. hic odio tenetur. ante ipsum primis in
                  faucibus orci luctus.Vivamus a ligula quam tesque et libero ut justo, ultrices in. </p>
              </div>
              <div class="bottom-info mt-4">
                <a class="comment-img" href="#url"><img src="{% static 'voterapp/assets/images/team2.jpg' %}" class="img-responsive"
                    alt="placeholder image"></a>
                <div class="people-info align-self">
                  <h3>Alexander sakura</h3>
                  <p class="identity">Example City</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- //testimonials section -->
  <!-- /Thank-section -->
  <section class="w3l-content-3 py-5">
    <!-- /content-6-section -->
    <div class="content-3-info py-3">
      <div class="container py-lg-4">
        <div class="welcome-left text-center">
          <h6 class="title-subhny mb-2">Thank you for Watching</h6>
          <h3 class="title-w3l two">Purchase the Workplace now and make
            everything easier</h3>

          <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2" href="#">
            Purchase Now</a>
        </div>
      </div>
    </div>
  </section>
  <!-- //Thank-section -->
  <!-- footer -->
  <footer class="w3l-footer-29-main">
    <div class="footer-29-w3l py-5">
      <div class="container py-lg-5 py-md-3">
        <div class="w3l-footer-texthny-inf text-center">
          <h6 class="foot-sub-title mb-1">LET’S WORK TOGETHER</h6>
          <h4><a href="mailto:seogexample@mail.com" class="mail">Seogexample@mail.com</a></h4>
          <div class="main-social-footer-29 mt-4 mb-lg-5 mb-4">
            <a href="#facebook" class="facebook"><span class="fab fa-facebook-f"></span></a>
            <a href="#twitter" class="twitter"><span class="fab fa-twitter"></span></a>
            <a href="#instagram" class="instagram"><span class="fab fa-instagram"></span></a>
            <a href="#linkedin" class="linkedin"><span class="fab fa-linkedin-in"></span></a>
          </div>
        </div>
      </div>
    </div>
    <!-- //footer -->
    <!-- copyright -->
    <section class="w3l-copyright">
      <div class="container">
        <div class="row bottom-copies">
          <p class="col-lg-8 copy-footer-29">© 2020 Seog. All rights reserved. Design by <a
              href="https://w3layouts.com/" target="_blank">
              W3Layouts</a></p>
          <div class="col-lg-4 footer-list-29">
            <ul class="d-flex text-lg-right">
              <li><a href="#careers"> Careers</a></li>
              <li class="mx-lg-5 mx-md-4 mx-3"><a href="#privacymy-lg-0 my-4">Privacy Policy</a></li>
              <li><a href="contact.html">Contact Us</a></li>
            </ul>
          </div>

        </div>
      </div>
    </section>
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
      &#10548;
    </button>
    <script>
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function () {
        scrollFunction()
      };

      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          document.getElementById("movetop").style.display = "block";
        } else {
          document.getElementById("movetop").style.display = "none";
        }
      }

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
    </script>
    <!-- /move top -->
  </footer>
  <!--//footer-->
  <!-- Template JavaScript -->
  <script src="{% static 'voterapp/assets/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'voterapp/assets/js/theme-change.js' %}"></script>
  <!-- disable body scroll which navbar is in active -->
  <script>
    $(function () {
      $('.navbar-toggler').click(function () {
        $('body').toggleClass('noscroll');
      })
    });
  </script>
  <!-- disable body scroll which navbar is in active -->

  <!--/MENU-JS-->
  <script>
    $(window).on("scroll", function () {
      var scroll = $(window).scrollTop();

      if (scroll >= 80) {
        $("#site-header").addClass("nav-fixed");
      } else {
        $("#site-header").removeClass("nav-fixed");
      }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
      $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
      if ($(window).width() > 991) {
        $("header").removeClass("active");
      }
      $(window).on("resize", function () {
        if ($(window).width() > 991) {
          $("header").removeClass("active");
        }
      });
    });
  </script>
  <!--//MENU-JS-->


  <script src="{% static 'voterapp/assets/js/bootstrap.min.js' %}"></script>

</body>

</html>
