{% extends 'admin_index.html' %}
{% block title %}
<div class="row column_title">
    <div class="col-md-12">
       <div class="page_title">
          <h2>Voters List</h2>
       </div>
    </div>
 </div>
{% endblock %}
{% block content %}
<div class="col-md-12">
    <div class="white_shd full margin_bottom_30">
      
       <div class="table_section padding_infor_info">
          <div class="table-responsive-sm">
             <table class="table">
                <thead>
                   <tr>
                      <th>#</th>
                      <th>Voter ID</th>
                      <th>Voter name</th>
                      <th>Age</th>
                      <th>Email</th> 
                      <th>Address</th>
                      <th>Username</th>
                    </tr>
                </thead>
                <tbody>
                {% for i in data %}
                   <tr>
                      <td>{{forloop.counter}}</td>
                      <td>{{i.face_id}}</td>
                      <td>{{i.voter_name}}</td>
                      <td>{{i.age}}</td>
                      <td>{{i.email}}</td>
                      <td>{{i.address}}</td> 
                      <td>{{i.username}}</td>
                   </tr>
                {% endfor %}
                </tbody>
             </table>
          </div>
       </div>
    </div>
 </div>
</div>
</div>

{% endblock %}